{% extends "layout/basic.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row mx-3">
            <div class="col-sm-6 mt-4">
                <div class="text-wr">
                    <div class="text-title-wr">
                        <p class="text-title">{{ game.name }}</p>
                        <p class="info-text">{{ game.genres|join:' ' }}</p>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="side-button-1-wr btn-must-wr">
                            <label class="side-button-1 btn-must">
                                <a class="side-b btn-must btn-font-style btn-effect" id="btn-must">
                                    {% if is_favourite %}
                                        REMOVE
                                    {% else %}
                                        MUST
                                    {% endif %}
                                </a>
                            </label>
                            <span class="badge bg-secondary btn-must-added" id="btn-must-added">Added</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <div class="text-desc-wr">
                    <span class="text-desc">Description</span>
                    <p>{{ game.full_description }}</p>
                </div>
                <div class="text-release-wr">
                    <span class="text-desc">Release Date</span>
                    <p class="info-text">
                        {% if game.release %}
                            {{ game.release }}
                        {% else %}
                            __.__.__
                        {% endif %}
                    </p>
                </div>
                <div class="text-screen-wr">
                    <p class="text-desc">Screenshots</p>
                </div>
                <div class="grid grid-col-3">
                    {% for screen in game.screen_url %}
                        <div class="screen-wr screen">
                            <img class="screen-img" src="{{ screen }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3 mt-lg-5">
                <div class="text-rating-wr">
                    <p class="text-middle">Rating</p>

                    <div class="card card-text card-color-users">
                        <label class="category">
                            <span class="category__text">Users</span>
                            <span class="category__score">{{ game.rating.0|floatformat:2 }} ({{ game.rating.1 }} reviews)</span>
                        </label>
                    </div>

                    <div class="card card-text card-color-critics">
                        <label class="category">
                            <span class="category__text">Critics</span>
                            <span class="category__score">{{ game.aggregated_rating.0|floatformat:2 }} ({{ game.aggregated_rating.1 }} reviews)</span>
                        </label>
                    </div>

                </div>
                <div class="text-wr">
                    <p class="text-middle">Genres</p>
                    <div class="grid-sm grid-sm-3">
                        {% for genre in game.genres %}
                            <label class="side-button-1">
                                <div class="btn-sm btn-font-style">{{ genre }}</div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-wr">
                    <p class="text-middle">Platforms</p>
                    {% if game.platforms %}
                        <div class="grid-sm grid-sm-4">
                            {% for platform in game.platforms %}
                                <label class="side-button-1">
                                    <div class="btn-sm btn-font-style">{{ platform }}</div>
                                </label>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="info-text text-center">No information</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3 mt-lg-5">
                <div class="text-wr">
                    <p class="text-middle">#{{ game.name|truncatewords:2 }} Tweets</p>
                    {% if tweets %}
                        {% for tweet in tweets %}
                            <div class="card card-text card-color-tweets">
                                <span class="teaxt-light">{{ tweet.text }}</span>
                                <label class="category">
                                    <span class="text-light">{{ tweet.created_at }}</span>
                                    <a class="text-link" {% if tweet.author_url %}
                                       href="{{ tweet.author_url }}" {% endif %}
                                       target="_blank">@{{ tweet.author_name }}</a>
                                </label>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="info-text">No information</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'board/js/post_button.js' %}"></script>
    <script>
        let url = '{% url 'edit' %}';
        let csrf_token = '{{ csrf_token }}';

        document.getElementById('btn-must').addEventListener('click', () => {
            changeMustButtonState({{ game.id }});
            changeAddButtonState();
        });

        changeAddButtonState();
    </script>

{% endblock %}

