{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
{% endblock %}

{% block title %}Password change{% endblock %}

{% block content %}
    <div class="container align-content-center my-lg-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Password change successful</h5>
                        <p class="card-text text-black">Your password was changed.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}
