{% extends "layout/basic.html" %}
{% load static %}


{% block title %}Confirmation{% endblock %}

{% block content %}
    <div class="container-fluid align-content-center my-lg-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-header text-middle text-muted text-align-center">
                        Password reset complete
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Your password has been set. You may go ahead and log in now.</h5>
                        <p class="card-text text-black">{{ text }}</p>
                        <a href="{% url 'login' %}"
                           class="btn btn-primary btn-danger">Log In</a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}