{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-align-center">
                <div class="card my-5">
                    <div class="card-title text-align-center text-middle text-muted">
                        Password reset
                    </div>
                    <div class="card-body text-align-center">
                        Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}

                    <div class="field-wrapper mb-4">
                        {% if form.email.errors %}
                            <div class="error-text-wrapper">{{ form.email.errors }}</div>
                        {% endif %}
                        <label for="{{ form.email.id_for_label }}">Email adress:</label>
                        <div class="input-wrapper">{{ form.email }}</div>
                    </div>

                    <div class="align-items-center text-align-center ">
                        <button class="btn btn-danger m-4 mx-lg-2" type="submit">Reset my password</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

{% endblock %}
