{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
{% endblock %}

{% block title %}Password change{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-align-center">
                <div class="card my-5">
                    <div class="card-body text-align-center">
                        Please enter your old password, for security’s sake, and then enter your new password
                        twice so we can verify you typed it in correctly.
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="field-wrapper">
                        {% if form.errors %}
                            <p class="errornote">
                                Please correct the error(s) below.
                            </p>
                        {% endif %}
                    </div>

                    <div class="field-wrapper mb-4">
                        {% if form.old_password.errors %}
                            <div class="error-text-wrapper">{{ form.old_password.errors }}</div>
                        {% endif %}
                        <label for="{{ form.old_password.id_for_label }}">Old password:</label>
                        <div class="input-wrapper">{{ form.old_password }}</div>
                    </div>

                    <div class="field-wrapper">
                        {% if form.new_password1.errors %}
                            <div class="error-text-wrapper">{{ form.new_password1.errors }}</div>
                        {% endif %}
                        {{ form.new_password1.label_tag }}
                        <div class="input-wrapper">{{ form.new_password1 }}</div>
                    </div>

                    <div class="field-wrapper">
                        {% if form.new_password2.errors %}
                            <div class="error-text-wrapper">{{ form.new_password2.errors }}</div>
                        {% endif %}

                        <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                        <div class="input-wrapper">{{ form.new_password2 }}</div>
                        {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="align-items-center text-align-center ">
                        <button class="btn btn-danger m-4 mx-lg-2" type="submit">Change my password</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

{% endblock %}
