{% extends 'layout/basic.html' %}
{% load static %}



{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="container align-content-center my-lg-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 card-width-max">
                <div class="card text-center">
                    <div class="card-header">
                        Password reset sent
                    </div>
                    <div class="card-body">
                        <p class="card-text text-black">We’ve emailed you instructions for setting your password, if an
                            account exists with the email you entered. You should receive them shortly.</p>
                    </div>
                    <div class="card-footer text-muted">
                        If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and check your spam folder.
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}
