{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
{% endblock %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-align-center">
                    <div class="card my-5">
                        <div class="card-header text-middle text-muted text-align-center">
                            Enter new password
                        </div>
                        <div class="card-body text-align-center">
                            Please enter your new password twice so we can verify you typed it in correctly.
                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="field-wrapper">
                            {% if form.errors %}
                                <p class="errornote">
                                    Please correct the error(s) below.
                                </p>
                            {% endif %}
                        </div>

                        <div class="field-wrapper">
                            {% if form.new_password1.errors %}
                                <div class="error-text-wrapper">{{ form.new_password1.errors }}</div>
                            {% endif %}
                            {{ form.new_password1.label_tag }}
                            <div class="input-wrapper">{{ form.new_password1 }}</div>
                        </div>

                        <div class="field-wrapper">
                            {% if form.new_password2.errors %}
                                <div class="error-text-wrapper">{{ form.new_password2.errors }}</div>
                            {% endif %}

                            {{ form.new_password2.label_tag }}
                            <div class="input-wrapper">{{ form.new_password2 }}</div>
                            {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="align-items-center text-align-center ">
                            <button class="btn btn-danger m-4 mx-lg-2" type="submit">Change my password</button>
                        </div>

                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
