{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/forms.css' %} "/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 align-content-center">
                <div class="title-wrapper">
                    <h2 class="text-middle">Sign up</h2>
                </div>
                <div class="text-release-wr">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="error-text-wrapper">{{ form.non_field_errors }}</div>
                        {% endif %}
                        <div class="field-wrapper">
                            {% if form.username.errors %}
                            <div class="error-text-wrapper">{{ form.username.errors }}</div>
                        {% endif %}
                            <label for="{{ form.username.id_for_label }}">Username:</label>
                            <div class="input-wrapper">{{ form.username }}</div>
                        </div>
                        <div class="field-wrapper">
                            {% if form.email.errors %}
                            <div class="error-text-wrapper">{{ form.email.errors }}</div>
                        {% endif %}
                            <label for="{{ form.email.id_for_label }}">Email:</label>
                            <div class="input-wrapper">{{ form.email }}</div>
                        </div>
                        <div class="field-wrapper">
                            {% if form.birthday.errors %}
                            <div class="error-text-wrapper">{{ form.birthday.errors }}</div>
                        {% endif %}
                            <label for="{{ form.birthday.id_for_label }}">Birthday:</label>
                            <div class="input-wrapper">{{ form.birthday }}</div>
                        </div>
                        <div class="field-wrapper">
                            {% if form.password1.errors %}
                            <div class="error-text-wrapper">{{ form.uspassword1ername.errors }}</div>
                        {% endif %}
                            <label for="{{ form.password1.id_for_label }}">Password</label>
                            <div class="input-wrapper">{{ form.password1 }}</div>
                        </div>
                        <div class="field-wrapper">
                            {% if form.password2.errors %}
                            <div class="error-text-wrapper">{{ form.password2.errors }}</div>
                        {% endif %}
                            <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
                            <div class="input-wrapper">{{ form.password2 }}</div>
                        </div>
                        <button class="btn btn-success m-4 mx-5" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>

{% endblock content %}
